:root{
    --header-bg:#042940;
    --button:#DBF227;
    --background:#005C53;
    --text:#D6D58E;
}

*{
    padding:0;
    margin:0;
    
    font-family: 'Roboto', sans-serif;
}
body{
    min-height:100vh;
    background-color: var(--background)
}
body{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100px auto;

}
header{
    grid-column: 1/3;
    grid-row:1/2;
    background-color: var(--header-bg);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
}
.logo{
    display:flex;
    height:100%;
    width:50%;
    align-items: center;
    color:var(--text);
}
.logo svg{
    max-height:100%;
    fill:var(--text);
    
}
#newbook{
    display:flex;
    align-items: center;
    border:none;
    height:50%;
    width:20%;
    background-color: var(--button);
    border-radius: 5px;
    font-size: 20px;
    color:var(--header-bg);
    font-weight: bolder;
    
}
#newbook svg{
    max-height:100%; 
    fill: var(--header-bg);
    margin-right:10px;
}
#newbook:hover{
    cursor: pointer;
   
}
#newbook:active{
    border:3px inset var(--background);
}
.leftbar{
    grid-column:1/2;
    grid-row: 2/3;
}
.rightbar{
    grid-column:2/3;
    grid-row: 2/3;
}