*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    background-color: #A67360;
}
body{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100px auto;

}
header{
    grid-column: 1/3;
    grid-row:1/2;
}
.leftbar{
    grid-column:1/2;
    grid-row: 2/3;
}
.rightbar{
    grid-column:2/3;
    grid-row: 2/3;
}